{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-param-reassign": [2, { "props": false }],
    "import/no-cycle": 0,
    "react/prop-types": [2, { "ignore": ["children"] }],
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
