.content-container {
  max-width: 1166px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  height: 100vh;
  min-height: 700px;
  max-height: 100vh;
}
