.background-video {
  position: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 700px;
  z-index: -1;
  overflow: hidden;
  top: 0;
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
  video {
    position: absolute;
    width: auto;
    height: 150vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 760px;
  }
}

.lines {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 700px;
  display: flex;
  justify-content: space-between;
  opacity: 0.1;
  z-index: -1;
  max-width: 1166px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 15px;
  top: 0;
  .line {
    width: 1px;
    height: 100%;
    background: #fff;
  }
}
