header {
  padding: 55px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  .header__language {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    li {
      margin: auto 12.5px;
      &:last-child {
        margin-right: 0;
        button {
          padding-right: 0;
        }
      }
      button {
        padding: 0;
        background: transparent;
        border: none;
        font-family: "Gotham Pro", sans-serif;
        font-weight: 700;
        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        transition: all 0.2s;
        text-decoration: none;
        opacity: 0.5;
        transition: all 0.3s;
        outline: none;
        cursor: pointer;
        &.active {
          opacity: 1;
        }
      }
    }
  }
  .logo {
    margin-right: 45px;
    &.active {
      img {
        filter: invert(0.4) sepia(1) saturate(20) hue-rotate(331.2deg)
          brightness(1);
      }
    }
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 3;
    align-items: center;
    margin-left: 45px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    a {
      font-weight: 700;
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      transition: all 0.2s;
      text-decoration: none;
      transition: all 0.3s;
      margin: auto 22.5px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &.active {
        color: #fb5d31;
      }
    }
  }
}
