footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
  .contacts {
    display: flex;
    flex-direction: column;
    .time {
      font-family: "Gotham Pro";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 19px;
      color: #ffffff;
      margin-bottom: 5px;
    }
    .map,
    .phone {
      font-family: "Gotham Pro";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 19px;
      color: #ffffff;
      text-decoration: none;
      position: relative;
      margin-top: 33px;
      display: flex;
      margin-right: auto;
      flex-direction: column;
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background: #fff;
        margin-top: 5px;
        background: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.5;
      }
    }
  }
  .socials {
    margin: auto 0 0 auto;
    a {
      font-family: "Gotham Pro";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 19px;
      text-align: right;
      margin: auto 25px;
      color: #ffffff;
      text-decoration: none;
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background: #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -5px;
        background: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.5;
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
