@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro"), url("/fonts/GothamPro.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro"), url("/fonts/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro"), url("/fonts/GothamPro-Bold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro"), url("/fonts/GothamPro-Black.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "Gotham Narrow";
  src: local("Gotham Narrow"),
    url("/fonts/GothamNarrow-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Gotham Narrow";
  src: local("Gotham Narrow"),
    url("/fonts/GothamNarrow-Bold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Gotham Narrow";
  src: local("Gotham Narrow"),
    url("/fonts/GothamNarrow-Book.woff") format("woff");
  font-weight: 700;
}

body {
  margin: 0;
  font-family: "Gotham Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: #000;
  font-weight: 300;
}

body * {
  box-sizing: border-box;
}
